<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>slaveone</name>
  <description>build</description>
  <remoteFS>/home/slaveone</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.854.v7fd446b_337c9">
    <host>172.31.8.86</host>
    <port>22</port>
    <credentialsId>00cafa73-defc-407a-af81-2c97d765bd44</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>slaveone</label>
  <nodeProperties/>
</slave>